@font-face {
    font-family:Cookie-Regular ;
    src: url(./Fonts/Cookie-Regular.ttf);
}

*{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    
}
/* Header start */
header{
    background-image:url(./Images/background1.png);
    height: 600px;
    /* width: 100%; */
    background-position: center;
    background-repeat: no-repeat;
    /* background-size:cover; */
    background-size: 100% 100%;
    display: flex;
    position: relative; 
    padding: 20px;  
    font-size: 40px;
}
.brunch{
    /* height: 300px; */
    width: 40%;
    background-color: #ffffff;
    opacity: 0.820;
    text-align: center;
    /* padding: 50px 30px; */
    position: absolute;
    top: 30%;
    left: 30%;    
}
ul li{
    display: inline-block;
    text-decoration: none;
    padding: 0 20px;    
}
li a{
    text-decoration: none;
    color: #FFF;
    opacity: 0.8;
}
header a{
    text-decoration: none;
    color: #FFF;
    opacity: 0.8;  
}
button{
    width: 266px;
    height: 59px;
    background-color: #ffffff;
}
.h{
    font-size: 60px;color: #2c3a42;font-weight:400;font-family:Cookie;text-align: center;
}
.t{
    font-size: 40px;color:#ad6c12;font-weight:200;text-align: center;
}
/* Section1-flavour start */
#flavour{
    /* height: 600px; */
    width: 100%;
    background-color: #2a3b40;
}
.one{
    height: 350px;
    color: #FFF;
    padding: 50px;
}
.cf{
    display: flex;
    flex-direction: row;
    height: 250px;
    background-color: #FFF;
    opacity: 0.8;
    padding: 30px;
}
h5{
    font-size: 19px;
    line-height: 33px;
    color: #2a3b40;
    font-weight: 700;
   font-family: "Raleway";
}
p{
    font-size: 17px;
line-height: 25px;
color: #2a3b40;
font-weight: 400;
font-family: "Raleway";
}

/* Section2-Plate start */
#plate{
    background-image:url(./Images/Section2background.png);
    /* height: 720px; */
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size:cover; */
    background-size: 100% 100%;
    padding: 30px;
}
.indianbox{
    /* height: 630px; */
    width: 65%;
    background-color: #FFf;
    opacity: 0.8; 
}
.indianbox img{
    height: 100%;
    width: 100%; 
    object-fit:cover;
}
.fc{
    display: flex;
    
}

/* Section3-Menu start */
#menu{
   background-image:url(./Images/Section3background.png);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size:cover; */
    background-size: 100% 100%;
    background-attachment: fixed;
   
}
.menucont{
    /* height: 400px; */
    background:#2a3b40;
    position: relative;
   
}
.menucont .i1{
    position: absolute;
    top: 0;
    left: 0;
}
.menucont .i2{
    position: absolute;
    top: 0;
    right: 0;
}
.menulayer{
    /* height: 400px; */
    width: 100%;
    line-height: 30px;
    background-color: #FFF;
    opacity: 0.8;
    text-align: center;
    padding: 100px 300px;
    
}
.discover{
    /* height: 550px; */
    background-color: #FFF;
    margin-top: 250px;
    opacity: 0.8;
    padding: 20px 250px;
    /* text-align: center; */
}
.disc{
    display: flex;  
}
/* Section-4 background */
#back{
    background-image:url(./Images/section4.png);
    height: 600px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size:cover; */
    background-size: 100% 100%;
    /* background-attachment: fixed; */

}
/* Section-5 bookhere */
#bookhere{
    background-color: #2a3b40;
    height: 400px;
    width: 100%;
    text-align: center;
}
.book{
    color: #FFF;
    padding: 20px 100px;

}
input,select{
    width: 50%;
    padding: 10px 20px;
    margin: 5px 0;
    border: 1px solid white;
    border-radius: 10px solid white ;
    color: #FFF;
    background-color: #2a3b40;
  }
/* Section-6 back */
#bg{
    background-image:url(./Images/Section5.png);
    height: 600px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    /* background-size: 100% 100%; */
    /* background-attachment: fixed; */
}
/* Section-7 new menu */
#newmenu{
    height: 755px;
    width: 100%;
    background: #2a3b40;  
}
.layer1{
    height:755px;
    width: 100%;
    background-color: #FFF;
    opacity: 0.8;    
}
/* Section-8 foot */
#foot{
    height: 450px;
    background-color: #2a3b40;
    color: #FFF;
}
.r{
    position: relative;
}
.r::after{
    content: "";
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #ad6c12;
}
.layer2{
    height:250px;
    width: 100%;
    background-color: #FFF;
    opacity: 0.8;   
    color: #2a3b40; 
}
q{
    font-size: 80px;
}
.f1{
    text-align: center;
    padding: 50px 80px;
}

.f1::before{
    content:"zzzzz" ;
}
ol{
    list-style: none;
    font-weight: bold;
}